<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">
  
<mapper namespace="com.mycom.myweb.mapper.BoardMapper">
  
<sql id="criteria">
    <if test="typeArr != null">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </if>
</sql>

  <select id="getTotalCount" resultType="int">
    SELECT COUNT(*) FROM board 
    WHERE 
    bgno = #{bgno} AND <include refid="criteria"></include>
    bno > 0
</select>
  

<select id="getListWithPaging" resultType="com.mycom.myweb.BoardVO">
<![CDATA[
  SELECT bno, title, content, writer, regdate, updatedate, bgno
  FROM (
      SELECT /*+INDEX_DESC(board pk_board) */ 
             rownum rn, bno, title, content, writer, regdate, updatedate, bgno  -- 안쪽에도 bgno를 넣어줘야 밖에서 쓸 수 있어요!
      FROM board
      WHERE 
      bgno = #{bgno} AND 
]]>
      <include refid="criteria"></include>
<![CDATA[
      rownum <= #{pageNum} * #{amount}
  )
  WHERE rn > (#{pageNum} - 1) * #{amount}
]]>
</select>
  
  <select id="get" resultType="com.mycom.myweb.BoardVO">
   SELECT * FROM board WHERE bno = #{bno}
  </select>

  <insert id="insert" parameterType="com.mycom.myweb.BoardVO">
    INSERT INTO board (bno, title, content, writer, bgno) VALUES (board_seq.nextval, #{title}, #{content}, #{writer}, #{bgno}) </insert>

  <update id="update">
     UPDATE board SET title = #{title}, content = #{content}, updatedate = sysdate
     WHERE bno = #{bno}
  </update>

  <delete id="delete">
     DELETE FROM board WHERE bno = #{bno}   
  </delete>

  <select id="getList" resultType="com.mycom.myweb.BoardVO">
      SELECT * FROM board WHERE bno > 0 ORDER BY bno DESC
  </select>

</mapper>