<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mycom.myweb.mapper.MemberMapper">

    <select id="login" resultType="com.mycom.myweb.UserVO">
        SELECT 
            userid, 
            userpw, 
            username 
        FROM TBL_USER 
        WHERE userid = #{userid} AND userpw = #{userpw}
    </select>

    <select id="getName" resultType="string">
        SELECT USERNAME FROM MEMBER_TEST WHERE ROWNUM = 1
    </select>

    <insert id="insertTest">
        INSERT INTO test (id, name) VALUES (#{id}, #{name})
    </insert>

    <update id="updateTest">
        UPDATE test SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="deleteTest">
        DELETE FROM test WHERE id = #{id}
    </delete>

</mapper>