<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mycom.myweb.mapper.MemberMapper">

    <insert id="join">
          INSERT INTO TBL_USER (userid, userpw, username)
          VALUES (#{userid}, #{userpw}, #{username})
    </insert>

    <select id="getName" resultType="string">
        SELECT USERNAME FROM TBL_USER WHERE ROWNUM = 1
    </select>

    <insert id="insertTest">
        INSERT INTO test (id, name) VALUES (#{id}, #{name})
    </insert>

    <update id="updateTest">
        UPDATE test SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="deleteTest">
        DELETE FROM test WHERE id = #{id}
    </delete>

</mapper>